# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# QtCreator project files
cadmium.config
cadmium.creator
cadmium.creator.user
cadmium.files
cadmium.includes

#idea
.idea

#Xcode project files
Cadmium.xcodeproj

#VScode project files
*.code-workspace

#Cmake
cmake-build-debug
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
cmake_install.cmake
CMakeScripts

#makefile
Makefile

# Build files
bin/
logs/

# MacOS
.DS_Store

# Intermediate Results, GIS Viewer Results
cadmium_gis/scenario.json
cadmium_gis/*.ipynb_checkpoints
config/scenario.json
GIS_Viewer/ottawa/simulation_runs
Scripts/Msg_Log_Parser/input
Scripts/Msg_Log_Parser/output
Scripts/Msg_Log_Parser/*.zip
Scripts/Input_Generator/output



